.dropping {
    /*border: 10px dotted red;*/
}

.hetaModuleContainer svg {
    max-width: 100%;
}

svg {
    margin: 0.1em;
    overflow: visible;
}

svg#i-lightning {
    margin: 0em;
    overflow: visible;
}

#modalDnD .w3-modal-content {
    width: 90%;
    height: 600px;
    border: 5px dashed red;
}

html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#topDiv {
    min-height: 50px;
}
#mainDiv {
    flex-grow: 1;
}
#leftPanel, #rightPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.codeContainer {
    flex-grow: 1;
}

/* Minor adjustments */
#topContainer {
    height: 100%;
}
